<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Это новый сайт</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'style_index.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:800" rel="stylesheet">
</head>
<body>
<div class="hello_msg">
	<label class="text1">Добро пожаловать!</label>
	<div class="link_to_countries">
		<a href="/countries-list/">Список стран</a>
	</div>
</div>
</body>
</html>