<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Список стран</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'style_list_countries.css' %}">
</head>
<header class="site-header">
      <div class="wrapper site-header__wrapper">
        <nav class="nav">
          <div class="nav__wrapper">
            {% for i in alphabet %}
				<a class="url_symbol" href="/countries-list/alphabet/{{ forloop.counter0 }}">{{ i }}</a>
			{% endfor %}
          </div>
        </nav>
      </div>
    </header>
<body>
<div class="hello_msg">
	<div>
		----
	</div>
	<div class="link_to_countries">
		{% for key, value in data.items %}
			<a href="/countries-list/{{ value }}">{{ key }}</a>
		{% endfor %}
	</div>
	<div>
		---
	</div>
	<div>
		<a href="/countries-list/">К списку стран</a>
	</div>
</div>
</body>
</html>